{% extends "layouts/main.html" %}

{% block pageTitle %}
Home type - Section 106 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/home-type-home-info" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Home type details: {{ data['scheme-name'] }}</span>
                <h1 class="govuk-fieldset__heading">
                  Are these homes part of a section 106 agreement?
                </h1>
              </legend>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    What is a section 106 agreement?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Section 106 are agreements between a local planning authority and a property owner. They reduce the impact of development on the local community and are also known as ‘planning obligations’.
                </div>
              </details>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="106-yes" name="106-yes" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="106-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="106-no" name="106-no" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="106-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Save and return to scheme
            </button>
          </div>
        </form>
      </div>
    </div>



{% endblock %}
