{% extends "layouts/main.html" %}

{% block pageTitle %}
Home type - Particular group – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/home-type-building" method="post" novalidate>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Home type details: {{ data['scheme-name'] }}</span>
            <h1 class="govuk-fieldset__heading">
              Which group are these homes designed to meet the needs of?
            </h1>
          </legend>
          <div id="needs-hint" class="govuk-hint">
            Select one group.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-1" name="particular-group-type" type="radio" value="People from ethnic minority backgrounds" {{"checked" if data["particular-group-type"] == "People from ethnic minority backgrounds" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-1">
                People from ethnic minority backgrounds
              </label>
              <div id="particular-group-type-1-hint" class="govuk-hint govuk-radios__hint">
                Hint text </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-2" name="particular-group-type" type="radio" value="Disabled people" {{"checked" if data["particular-group-type"] == "Disabled people" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-2">
                Disabled people
              </label>
              <div id="particular-group-type-2-hint" class="govuk-hint govuk-radios__hint">
                Hint text </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-3" name="particular-group-type" type="radio" value="Faith groups" {{"checked" if data["particular-group-type"] == "Faith groups" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-3">
                Faith groups
              </label>
              <div id="particular-group-type-3-hint" class="govuk-hint govuk-radios__hint">
                Hint text </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-4" name="particular-group-type" type="radio" value="People at risk of domestic violence" {{"checked" if data["particular-group-type"] == "People at risk of domestic violence" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-4">
                People at risk of domestic violence
              </label>
              <div id="particular-group-type-4-hint" class="govuk-hint govuk-radios__hint">
                Hint text </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-5" name="particular-group-type" type="radio" value="Young people" {{"checked" if data["particular-group-type"] == "Young people" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-5">
                Young people
              </label>
              <div id="particular-group-type-5-hint" class="govuk-hint govuk-radios__hint">
                People under the age of? </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="particular-group-type-6" name="particular-group-type" type="radio" value="Older people" {{"checked" if data["particular-group-type"] == "Older people" }}>
              <label class="govuk-label govuk-radios__label" for="particular-group-type-6">
                Older people
              </label>
              <div id="particular-group-type-6-hint" class="govuk-hint govuk-radios__hint">
                People over the age of </div>
            </div>
           
          </div>
        </fieldset>
      </div>

     


      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return to scheme
        </button>
      </div>
    </form>
  </div>
</div>



{% endblock %}