{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8
  ">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Apply for a grant to build affordable homes
    </h1>
    <p class="govuk-body-l">Manage your applications for grants to build affordable homes.
    </p>




  </div>

  <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="CME-applications.html">Continuous market engagement (CME) applications
      </a>
    </h3>
    <p class="govuk-body">Apply for funding through continuous market engagement and manage your applications.
    </p>
  </section>
  <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="">Rough sleeping accommodation programme (RSAP) applications
      </a>
    </h3>
    <p class="govuk-body">Apply for funding for the rough sleeping accommodation programme (RSAP) and manage your
      applications.
    </p>
  </section>

</div>



{% endblock %}