{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8
  ">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Apply for grant funding</h1>
    <p class="govuk-body-l">Manage your affordable housing grant funding applications</p>




  </div>

  <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="">CME applications</a>
    </h3>
    <p class="govuk-body">Scheme by scheme bidding through continuous market engagement (CME).</p>
  </section>
  <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a href="/find-teacher-training/">RSAP applications</a>
    </h3>
    <p class="govuk-body">The rough sleeping accommodation programme (RSAP) provides support for rough sleepers.</p>
  </section>

</div>



{% endblock %}