{% extends "layouts/main.html" %}

{% block pageTitle %}
Home type - building information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Home type details: {{ data['scheme-name'] }}</span>
    <h1 class="govuk-heading-l">Building information</h1>
    <form action="/home-type-floor-area" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="building-type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is the building type?
          </legend>
          <div id="building-type-hint" class="govuk-hint">
            Select one option.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-house" name="building-house" type="radio" value="house">
              <label class="govuk-label govuk-radios__label" for="building-house">
                House
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-flat" name="building-flat" type="radio" value="flat"
                aria-describedby="building-flat-hint">
              <label class="govuk-label govuk-radios__label" for="building-flat">
                Flat
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-bedsit" name="building-bedsit" type="radio" value="bedsit"
                aria-describedby="building-bedsit-hint">
              <label class="govuk-label govuk-radios__label" for="building-bedsit">
                Bedsit
              </label>
              <div id="building-bedsit-hint" class="govuk-hint govuk-radios__hint">
                Single unit within a shared property </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-bungalow" name="building-bungalow" type="radio"
                value="bungalow" aria-describedby="building-bungalow-hint">
              <label class="govuk-label govuk-radios__label" for="building-bungalow">
                Bungalow
              </label>
              <div id="building-bungalow-hint" class="govuk-hint govuk-radios__hint">
                1-storey house or cottage </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="building-maisonette" name="building-maisonette" type="radio"
                value="maisonette" aria-describedby="building-maisonette-hint">
              <label class="govuk-label govuk-radios__label" for="building-maisonette">
                Maisonette
              </label>
              <div id="building-maisonette-hint" class="govuk-hint govuk-radios__hint">
                2-story flat with your own front door</div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="shared-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do the homes have shared facilities?
          </legend>
          <div id="shared-hint" class="govuk-hint">
            Select what kind of facilities the homes will have.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="shared" name="shared" type="radio" value="shared facilities">
              <label class="govuk-label govuk-radios__label" for="shared">
                Shared facilities
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="self-contained" name="self-contained" type="radio"
                value="self-contained facilities">
              <label class="govuk-label govuk-radios__label" for="building-flat">
                Self-contained facilities
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="mix-facilities" name="mix-facilities" type="radio" value="mix of self-contained and shared facilities">
              <label class="govuk-label govuk-radios__label" for="building-bedsit">
                Mix of self-contained and shared facilities
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="new-reconstruction-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Are the homes new builds or reconstructions?
          </legend>
          <div id="new-reconstruction-hint" class="govuk-hint">
            Select how the homes will be built.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-build" name="new-build" type="radio" value="new build">
              <label class="govuk-label govuk-radios__label" for="new-build">
                New build
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reconstructions" name="reconstructions" type="radio" value="reconstructions">
              <label class="govuk-label govuk-radios__label" for="reconstructions">
                Reconstructions
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="tenant-input-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Have tenants had any input on design?
          </legend>
          <div id="tenant-input-hint" class="govuk-hint">
            Select ‘yes’ if tenants have inputted into the design.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenant-input-yes" name="tenant-input-yes" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="tenant-input-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenant-input-no" name="tenant-input-no" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="tenant-input-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>  

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return to scheme
        </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}