{% extends "layouts/main.html" %}

{% block pageTitle %}
Scheme name and tenure – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Scheme name and tenure</h1>
        <form action="/scheme" method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="scheme-name">
              Scheme name
            </label>
            <div id="scheme-name-hint" class="govuk-hint">
              You should make this something that will help you differentiate it from your other schemes within your site. For example, Village Way.
            </div>
            <input class="govuk-input govuk-input--width-20" id="scheme-name" name="scheme-name" type="text" aria-describedby="scheme-name-hint">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <label class="govuk-label govuk-label--m" for="scheme-tenure">
                Scheme tenure
              </label>
              <div id="scheme-tenure-hint" class="govuk-hint">
                The scheme tenure will affect the questions you're asked so make sure you select the right one.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="scheme-tenure-1" name="scheme-tenure" type="radio" value="Affordable rent" {{"checked" if data["scheme-tenure"] == "Affordable rent" }}>
                  <label class="govuk-label govuk-radios__label" for="scheme-tenure-1">
                    Affordable rent
                  </label>
                  <div id="scheme-tenure-1-hint" class="govuk-hint govuk-radios__hint">
                    Homes let at below market rent by a registered provider. The rent, including service charge, is set at up to 80% of the local market rent for an equivalent home.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="scheme-tenure-2" name="scheme-tenure" type="radio" value="Social rent" {{"checked" if data["scheme-tenure"] == "Social rent" }}>
                  <label class="govuk-label govuk-radios__label" for="scheme-tenure-2">
                    Social rent
                  </label>
                  <div id="scheme-tenure-2-hint" class="govuk-hint govuk-radios__hint">
                    Social rent is low-cost rental social housing that is let at below market rent by a registered provider based on a formula set by the government.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="scheme-tenure-3" name="scheme-tenure" type="radio" value="Shared ownership" {{"checked" if data["scheme-tenure"] == "Shared ownership" }}>
                  <label class="govuk-label govuk-radios__label" for="scheme-tenure-3">
                    Shared ownership
                  </label>
                  <div id="scheme-tenure-3-hint" class="govuk-hint govuk-radios__hint">
                    Shared ownership allows a customer to purchase a share of a home and pay rent on the remaining share.
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="scheme-tenure-4" name="scheme-tenure" type="radio" value="Rent to buy" {{"checked" if data["scheme-tenure"] == "Rent to buy" }}>
                  <label class="govuk-label govuk-radios__label" for="scheme-tenure-4">
                    Rent to buy
                  </label>
                  <div id="scheme-tenure-4-hint" class="govuk-hint govuk-radios__hint">
                    Homes let to working households at a lower cost to give them the opportunity to save for a deposit to buy their first home.
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
    








          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>


{% endblock %}